.contactList{
    background: #f0564f;
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    border-radius: 12px;
    margin: 2rem 1rem;
    padding: 2rem 0rem;
    position: relative;
  
}
.nocontactlist{
    padding: 2rem;
    font-size: clamp(10px,1.5vw,18px);
}
.contactDetail{
    color: aliceblue;
    padding: 3px 0px;    
    font-size: clamp(12px,2vw,18px);
    max-width: 80%;

}
.contactListSection{
    padding: 3rem 0rem;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.deletebtn{
    background: transparent;
    color: #fff;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 12px;
    font-size: clamp(12px,2vw,18px);
    cursor: pointer;
    margin: 0 5%;

}
.contactButton{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.contactHeader{
    display: flex;
width: 60%;
}
.detailsBtn{
    text-decoration: none;
    color: white;
    border: 1px solid #f0564f;
    border-radius: 20px;
    padding: 2% 10%;
    font-size: clamp(10px,2vw,16px)
}
.detailBtnText{
    color: white;

  
    font-size: 12px;
    width: inherit;
}
.detailsbtndiv{
    position: relative;
    left: 40%;
}
@media screen and (max-width: 450px){
.contactList{
    width: 80%;
}
    
}